#Theme Name: iRetro
#By: millim
#E-mail: You can reach me through the Rockbox forum (millim)
#Version: 1.0 June 9, 2021
#Platform: Appel iPod Classic 6g
#Rockbox version: Works with current build
#License: CCA3 licence

#Inspired by the Nucle theme originally made for WinAmp, I decided to develope a similar "look and feel" Theme for Rockbox.
#The original Nucle WinAmp theme can be found on Web: nucleo.click.hu, Mirror: www.extra.hu/nucleo, Contact: nucleo@mailbox.hu
#License is free with no restrictions.
#
#I want to thank also the Rockbox forum community to make this happen especially, P Poorten for the support on the tile based
#menu structure.
#
#The main menu icons are taken from Paper-Icon-Theme (Creative Commons Attribution-ShareAlike 4.0 International Public
License)
#Font: "Misaki" bitmap font (https://littlelimit.net/misaki.htm), free of use
#Font: "San Francisco" (https://github.com/blaisck/sfwin), free of use
#Font: "aakar" (free GNU Linux desktop font)

wps: /.rockbox/wps/iRetro.wps
sbs: /.rockbox/wps/iRetro.sbs
font: /.rockbox/fonts/15-SFProDisplay-Regular.fnt
foreground color: 85663f
background color: f4d9a9
selector type: bar (inverse)
iconset: /.rockbox/icons/tango_small.bmp
viewers iconset: /.rockbox/icons/tango_small_viewers.bmp
show icons: on
statusbar: off
scrollbar: on
