#
# h2yorushika - Elma's Diary theme (320x240x16)
# Deep oxblood leather palette inspired by Yorushika's Elma diary cover.
#
# Install:
#   h2yorushika.cfg  ->  /.rockbox/themes/h2yorushika.cfg
#   h2yorushika.wps  ->  /.rockbox/wps/h2yorushika.wps
#   h2yorushika.sbs  ->  /.rockbox/wps/h2yorushika.sbs
#   *.bmp            ->  /.rockbox/wps/h2yorushika/
#
wps: /.rockbox/wps/h2yorushika.wps
sbs: /.rockbox/wps/h2yorushika.sbs
font: /.rockbox/fonts/13-Sazanami-Mincho.fnt
backdrop: /.rockbox/wps/h2yorushika/backdrop.bmp
statusbar: custom
iconset: /.rockbox/icons/h2yorushika-icons.bmp
viewers iconset: /.rockbox/icons/h2yorushika-viewers.bmp
foreground color: F0E8DC
background color: 221013
line selector start color: 8B6F47
line selector end color: 6B5235
line selector text color: F0E8DC
selector type: bar (gradient)
show icons: on
list separator height: 0
