#
# h2yorushika - HiFi Walker H2 starter theme (320x240x16)
#
# Install:
#   h2yorushika.cfg  ->  /.rockbox/themes/h2yorushika.cfg
#   h2yorushika.wps  ->  /.rockbox/wps/h2yorushika.wps
#   h2yorushika.sbs  ->  /.rockbox/wps/h2yorushika.sbs
#   images/          ->  /.rockbox/wps/h2yorushika/   (optional)
#
wps: /.rockbox/wps/h2yorushika.wps
sbs: /.rockbox/wps/h2yorushika.sbs
font: 15-Adobe-Helvetica.fnt
statusbar: top
foreground color: E8E8F0
background color: 1A1A2E
line selector start color: 6B7FD7
line selector end color: 3D4F9F
line selector text color: E8E8F0
selector type: bar (gradient)
show icons: on
list separator height: 0
